<launch>
    <!--bringup-->
    <!-- <include file="$(find robot_launch)/launch/2DLandmark/2d_bringup_trienlam.launch"/> -->
    <!--mapping-->
    <include file="$(find robot_launch)/launch/cartogepher/cartographer.launch"/>
    
    <!-- rosrun map_server map_saver -f /home/stivietnam/catkin_ws/src/robot_launch/launch/map/map2d -->
    <!-- scp stivietnam@192.168.1.21:~/catkin_ws/src/robot_launch/launch/map/map2d.pgm . -->

</launch>